<div>
    <div class="head-container">
        <img src="../assets/harris-logo.png">
        <div style="float:right">
            <button ng-show="sharedData.checkAdmin()" class="button-secondary" ng-click="switchToDisplay()">Switch to
                List View
            </button>
            <button ng-hide="sharedData.checkAdmin()" class="button" ng-click="addProject()">Add Project</button>
            <button ng-hide="sharedData.checkAdmin()" class="button-secondary" ng-click="editManager()">Edit Profile</button>
            <button class="button" ng-click="sharedData.logOut()">Log Out</button>
        </div>
        <div class="text-center" ng-hide="showingFullView">
            <!--<img src="../assets/title-logo.png" width="800px">-->
        </div>
        <br>
    </div>
    <br>
    <!-- searching previously submitted projects -->
    <div class="row" ng-hide="showingFullView">
        <div class="small-6 float-center">
            <input type="text" placeholder="search" ng-model="searchTerm" class="text-center"
                   ng-change="searchAndUpdate()">
        </div>
    </div>
    <div class="row" ng-hide="showingFullView">
        <div class="text-center">
            <button class="button" ng-click="showGenerated()" ng-hide="showingGenerated">Show Projects from
                Reports
            </button>
            <button class="button-secondary" ng-click="hideGenerated()" ng-show="showingGenerated">Hide Projects from
                Reports
            </button>
            <button class="button-secondary" ng-click="clearSearch()">Clear Search</button>
        </div>
    </div>

    <!-- Displaying completed forms -->
    <div ng-repeat="item in items track by $index" class="large-6 float-center">
        <table>
            <tr>
                <td>
                    <div ng-show="showingGenerated">
                        <div ng-show="item.generated">
                            <div class="row">
                                <h4 style="color:red"><b>Report Generated</b></h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <br>
                        <div class="text-center">
                            <h3><b>{{item.title}}</b></h3>
                        </div>
                        <br>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <table>
                                <tr>
                                    <td class="text-center">
                                        <b>Savings:</b>
                                    </td>
                                    <td class="text-center">
                                        $ {{item.savings}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <b>Saved Hours:</b>
                                    </td>
                                    <td class="text-center">
                                        {{item.hours}} hours
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="large-6 columns">
                            <table>
                                <tr>
                                    <td class="text-center">
                                        <b>Completion Date:</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        {{item.month + "/" + item.day + "/" + item.year}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <!-- manager information -->
                    <div class="row" ng-show="sharedData.checkAdmin()">
                        <br>
                        <h5 class="text-center"><b>Project Manager:</b>
                            <div class="highlight" ng-click="item.checked = !item.checked">{{item.manager.name}} <i>(click
                                to show manager info)</i></div>
                        </h5>
                        <div></div>
                        <table ng-show="item.checked" class="text-center">
                            <tr>
                                <td colspan="2"><b>Email:</b> {{item.manager.email}}</td>
                            </tr>
                            <tr>
                                <td colspan="2"><b>Department:</b> {{item.manager.department}}</td>
                            </tr>
                            <tr>
                                <td><b>Unit:</b> {{item.manager.unit}}</td>
                                <td><b>Phone: </b> {{item.manager.phone}}</td>
                            </tr>
                        </table>
                        <br><br>
                    </div>

                    <div class="row">
                        <div class="large-6 columns">
                            <table>
                                <tr>
                                    <td class="text-center">
                                        <b>Team Members:</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-hide="item.team === null" class="text-center">
                                        {{item.team}}
                                    </td>
                                    <td ng-show="item.team === null" class="text-center">
                                        Solo project
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="large-6 columns">
                            <table>
                                <tr>
                                    <td class="text-center">
                                        <b>Discipline(s):</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        {{item.discipline.join(", ")}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <table>
                                <tr>
                                    <td class="text-center">
                                        <b>Project Summary:</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        {{item.summary}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row" ng-show="item.image !== null">
                        <div class="small-2 columns">
                            <p></p>
                        </div>
                        <div class="small-8 columns">
                            <table>
                                <tr>
                                    <td>
                                        <b>Image:</b>
                                    </td>
                                    <td>
                                        <img ng-src="{{item.image}}" width="200px">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="small-2 columns">
                            <p></p>
                        </div>
                    </div>

                    <!-- Displaying results -->
                    <div ng-repeat="result in item.result track by $index">
                        <br>
                        <div class="row">
                            <div class="text-center">
                                <h6><i><b>Result</b> #{{$index + 1}}</i></h6>
                            </div>
                        </div>
                        <div class="row">
                            <table>
                                <tr>
                                    <td rowspan="2" class="text-center">
                                        <b>Improvement Description:</b><br>
                                        {{result.summary}}
                                    </td>
                                    <td>
                                        <b>Savings:</b>
                                    </td>
                                    <td>
                                        $ {{result.savings}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Saved Hours:</b>
                                    </td>
                                    <td>
                                        {{result.hours}} hour(s)
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="row">
                            <table>
                                <tr>
                                    <td class="text-center">
                                        <b>Results Accomplished From Improvement:</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        {{result.details}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <!-- Editing or deleting submissions -->
                        <table ng-hide="item.generated">
                            <tr>
                                <td class="text-center">
                                    <button class="button-secondary" ng-click="editProject($index)"><b>EDIT</b></button>
                                </td>
                                <td class="text-center">
                                    <button class="button-secondary" ng-click="deleteProject($index)"><b>DELETE</b>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>