.display-body, #expand-button, body {
    background: #d9d9d9;
}

h1, h2, h3, h4, h5, body {
    font-family: Montserrat, Helvetica;
}

h4 {
    font-weight: bold;
}

a:link, a:visited, .button-secondary:hover {
    color: black;
}

a:hover, .highlight:hover {
    color: red;
}

textarea {
    height: auto;
}

.button-secondary {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 0.85em 1em;
    margin: 0 0 1rem 0;
    font-size: 0.9rem;
    background-color: gray;
    color: white;
}

.discipline {
    margin-left: 50px;
}

#form {
    background-color: white;
}