<!-- Log in screen -->
<div>
    <div class="head-container">
        <img src="../assets/harris-logo.png">
        <br>
        <div class="text-center">
            <img src="../assets/title-logo.png" width="800px">
        </div>
        <br>
    </div>
    <br>
    <h4><b>Enter manager email:</b></h4><br>
    <div class="text-center">
        <div ng-show="sharedData.globalManager.length == 0">
            <div class="text-center">
                <div class="row">
                    <div ng-repeat="manager in addManager">
                        <table>
                            <tr>
                                <td>
                                    <b>Email:</b>
                                </td>
                                <td>
                                    <input type="text" autofocus ng-model="manager.email" ng-change="autoFill()"
                                           required>
                                </td>
                            </tr>
                            <tr ng-show="validateEmail(manager.email) && !managerExists && createAccount">
                                <td>
                                    <b>Name:</b>
                                </td>
                                <td>
                                    <input type="text" ng-model="manager.name" required>
                                </td>
                            </tr>
                            <tr ng-show="validateEmail(manager.email) && !managerExists && createAccount">
                                <td>
                                    <b>Business Unit:</b>
                                </td>
                                <td>
                                    <select name="unit" ng-model="manager.unit">
                                        <option ng-repeat="unit in dropdown.businessUnits" value="{{unit}}">{{unit}}</option>
                                    </select>
                                </td>
                            </tr>
                            <!--
                            <tr ng-show="validateEmail(manager.email) && !managerExists && createAccount">
                                <td>
                                    <b>Function:</b>
                                </td>
                                <td>
                                    <select name="function" ng-model="manager.function">
                                        <option ng-repeat="function in dropdown.functions" value="{{function}}">{{function}}</option>
                                    </select>
                                </td>
                            </tr>
                            -->
                            <tr ng-show="validateEmail(manager.email) && !managerExists && createAccount">
                                <td>
                                    <b>Department:</b>
                                </td>
                                <td>
                                    <input type="text" ng-model="manager.department" required>
                                </td>
                            </tr>
                            <tr ng-show="validateEmail(manager.email) && !managerExists && createAccount">
                                <td>
                                    <b>Phone:</b>
                                </td>
                                <td>
                                    <input type="text" ng-model="manager.phone" required>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <button ng-show="createAccount && !managerExists" ng-click="cancel()" class="button-secondary">CANCEL</button>
                    <button ng-show="validateEmail(addManager[0].email) && !managerExists && !createAccount" ng-click="create()" class="button"><b>CREATE ACCOUNT</b></button>
                    <button ng-show="validateManager() || managerExists || createAccount" ng-click="submit()" class="button"><b>LOG IN</b></button>
                </div>
            </div>
        </div>
    </div>
</div>