<!-- Adding projects -->
<div ng-app="entry" ng-controller="entryCtrl">
    <div class="head-container">
        <img src="../assets/harris-logo.png">
        <div class="text-center">
            <img src="../assets/title-logo.png" width="800px">
        </div>
        <br>
    </div>
    <br>
    <div class="row">
        <div class="small-6 columns">
            <p></p>
        </div>
        <div class="small-6 columns">
            <div class="text-right">
                <button ng-hide="update" class="button-secondary" ng-show="itemsToAdd.length > 0" ng-click="delProjectForm()">DELETE FORM</button>
                <button ng-show="update" class="button-secondary" ng-show="itemsToAdd.length > 0" ng-click="cancelEdit()">CANCEL EDIT</button>
            </div>
        </div>
    </div>
    <br>
    <!-- Main project fields -->
    <div ng-repeat="itemToAdd in itemsToAdd">
        <div class="row" id="form">
            <div class="row">
                <div class="large-6 columns">
                    <table>
                        <tr>
                            <td>
                                <b>Project Title: </b><input type="text" ng-model="itemToAdd.title" placeholder="Name of the project" required>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="large-6 columns">
                    <table>
                        <tr>
                            <td>
                                <b>Date: </b> <br><input ui-date="dateOptions" ng-model="itemToAdd.date" placeholder="6/3/2016" required>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns">
                    <table>
                        <tr>
                            <td>
                                <b>Team Members:</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <textarea ng-model="itemToAdd.team" placeholder="Ex: Robert Dylan, William Joel, etc."
                                      required>Team Members</textarea>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="large-6 columns">
                    <table>
                        <tr>
                            <td>
                                <b>Discipline:</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div isteven-multi-select
                                     input-model="disciplines"
                                     output-model="projectDisciplines"
                                     button-label="label"
                                     item-label="label"
                                     tick-property="ticked">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <table>
                        <tr>
                            <td>
                                <b>Project Summary:</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <textarea ng-model="itemToAdd.summary" placeholder="Summarize the project" required>Project Summary</textarea>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <table>
                        <tr>
                            <td>
                                <div ng-show="hasImage"><b>Add Image (Image will be overwritten):</b><br></div>
                                <div ng-hide="hasImage"><b>Add Image (Optional):</b><br></div>
                                <i>(Max 15 MB)</i>
                            </td>
                            <td>
                                <input type="file" class="button" fileread="itemToAdd.image" accept="image/*"><br>
                                <button ng-hide="itemToAdd.image === null" class="button-secondary" ng-click="removeImage()">Remove Image</button>
                            </td>
                            <td>
                                <img ng-show="itemToAdd.image !== null" ng-src="{{itemToAdd.image}}" width="200px">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- Results fields -->
            <div ng-repeat="result in resultsToAdd track by $index">
                <hr>
                <h5 class="text-center"><b><i>Result {{$index + 1}}</i></b></h5>
                <div class="row">
                    <div class="large-6 columns">
                        <table>
                            <tr>
                                <td>
                                    <b>Improvement Description:</b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <textarea ng-model="result.summary" placeholder="Summary of what was done" required>Results</textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="large-6 columns">
                        <table>
                            <tr>
                                <td>
                                    <b>Savings:</b>
                                </td>
                                <td>
                                    <input type="number" ng-model="result.savings" ng-change="checkSavingsNumberInput($index)" placeholder="$" required>
                                    <div ng-show="!savingsNumber">
                                        <p style="color: red">Non-number input!</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Saved Hours:</b>
                                </td>
                                <td>
                                    <input type="number" ng-model="result.hours" ng-change="checkHoursNumberInput($index)" numbers-only required>
                                    <div ng-show="!hoursNumber">
                                        <p style="color: red">Non-number input!</p>
                                    </div>
                                </td>
                            </tr>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <table>
                            <tr>
                                <td>
                                    <b>Results Accomplished From Improvement:</b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                            <textarea ng-model="result.details"
                                      placeholder="Describe in detail what was accomplished with above improvements"
                                      required>Results</textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 columns" ng-show="resultsToAdd.length - 1 == $index">
                        <div class="text-center">
                            <button class="button" ng-click="addResultsField()">Add Another Result</button>
                        </div>
                    </div>
                    <div class="small-6 columns">
                        <div class="text-center">
                            <button class="button-secondary" ng-show="resultsToAdd.length > 0"
                                    ng-click="delResultsField($index)">Delete Result
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <br>
            <div class="text-center">

                <!-- add or update a project depending on whether it's in the database -->
                <button ng-hide="update" class="button" ng-click="addProject(itemToAdd)"><b>ADD PROJECT</b></button>
                <button ng-show="update" class="button" ng-click="updateProject(itemToAdd)"><b>UPDATE PROJECT</b></button>
            </div>
        </div>
    </div>
</div>