<!-- User landing page -->
<div>
    <div class="head-container">
        <img src="../assets/harris-logo.png">
        <div style="float:right">
            <button class="button" ng-click="logOut()">Log Out</button>
        </div>
        <br>
        <div class="text-center">
            <img src="../assets/title-logo.png" width="800px">
        </div>
        <br>
    </div>
    <br>
    <div class="text-center">
        <h5><b>Project Manager:</b> {{sharedData.globalManager[0].name}}</h5>

        <!-- Can only edit manager info if the manager is in the database already -->
        <button ng-show="managerExists" class="button-secondary" ng-click="editManager()">Edit Manager Info</button>
        <br>
        <button class="button" ng-show="managerExists > 0" ng-click="viewPreviousProjects()">View Previously
            Submitted Projects
        </button>
        <br>
        <br>
        <button class="button" ng-click="addNewProject()"><b>Add New Project</b></button>
    </div>
</div>